/* src/components/ProductGrid.module.css (MODIFICADO COM RESPONSIVIDADE MOBILE) */

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 100%;
}

.noResults {
  font-family: var(--font-body);
  color: var(--color-neutral-medium-gray);
  width: 100%;
  text-align: center;
  padding: 4rem 0;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* --- MUDANÇA: ADICIONANDO MEDIA QUERY PARA MOBILE --- */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr; /* Força a grade a ter apenas uma coluna */
    gap: 1.5rem; /* Opcional: Reduz o espaçamento para telas menores */
  }
}